/app/config/parameters.yml
/app/phpunit.xml

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep

!/var/logs
/var/logs/*
!var/logs/.gitkeep

!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/vendor/
/bower_components
/web/bundles/

/.idea
/node_modules
npm-debug.log

/web/assets

.data/
.env
report.html

